.p-filmes {
  width: 100%;
  padding: 1rem 2rem;
  @include flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  .box {
    text-decoration: none;
    max-width: 250px;
    width: 100%;
    background-color: $blackBig;
    border-radius: 4px 4x 0px 0px;
    padding-bottom: 0.5rem;

    @media screen and (max-width: 800px) {
      max-width:500px;
    }


    img {
      width: 100%;
      height: 20rem;
      border-radius: 4px 4px 0px 0px;
      object-fit: cover;

      @media screen and (max-width: 800px) {
        height: 20rem;
      }
    }

    .title {
      font-size: 1.1rem;
      font-weight: normal;
      text-align: center;
      color: $yellow;
    }

    ul {
      list-style: none;
      margin-top: 1rem;
      text-align: center;

      li {
        font-size: 1rem;
        color: $white;

        span {
          color: $yellow;
        }
      }
    }
  }
}
